body {
  font-size: 30px;
}

table {
  border-collapse: collapse;
  text-align: center;
}

td {
  border: solid black 1px;
}

.bg-red {
  background-color: red !important;
}

.bg-green {
  background-color: green !important;
}

.bg-blue {
  background-color: #aaf;
}